.footer {
	background: url('/shelter/assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;	
	background-repeat: repeat;
}

.footer-container {
	padding: 40px 40px 0px;
}

.footer-content {
	@include flex(space-between, flex-start);
	column-gap: 160px;	

	a {
		text-decoration: none;
	}

	&__item {
		@include flex(space-between, flex-start, column);
		flex-grow: 1;
		row-gap: 40px;
		margin-top: 16px;
		cursor: pointer;
	}

	&__img {}	
}

.contacts {
	&__email, &__tel {
		@include flex(space-between);
		column-gap: 20px;
	}
}

.email-icon {
	width: 40px;
	height: 32px;
	background-image: url("/shelter/assets/icons/icon-email.svg");	
}

.tel-icon {
	width: 40px;
	height: 32px;
	background-image: url("/shelter/assets/icons/icon-phone.svg")	
}

.location {	
	row-gap: unset;
	min-height: 234px;
	
	&__item {
		@include flex(space-between);
		column-gap: 20px;
		cursor: pointer;
		text-decoration: none;
	}	
}

.location-icon {
	width: 22px;
	height: 32px;
	background-image: url("/shelter/assets/icons/icon-marker.svg");	
}


.email-icon, .tel-icon, .location-icon {		
	background-repeat: no-repeat;
}

.email-link, .tel-link, .location-address {
	color: $footer-title-color;
}