.header {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;

	width: 100%;

	&__content {
		@include flex(space-between);
	}
}	

.logo {	
	@include flex(space-between, center, column);
	height: 60px;
	cursor: pointer;
	text-decoration: none;

	&__title {
		font-size: 32px;
		line-height: 110%;		

		color: $logo-title-color;		
	}

	&__subtitle {	
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.1em;

		color: $logo-subtitle-color;
	}	
}

.logo:hover {
	.logo__title {
		color: $hover-button-bg;
	}
}

.nav-list {	
	@include flex(space-between);
	column-gap: 35px;
	list-style: none;	

	&__link {					
		color: $light-subtitle-color;		
		text-decoration: none;

		&:hover {
			color: $light-subtitle-hover-color;
		}			
	}

	&__item {
		position: relative;	
		cursor: pointer;

		&_active {
			border-bottom: 3px solid $active-color;
			.nav-list__link {
				color: $light-active-subtitle-color;			
			}
		}	
	}
	
	@media (max-width: #{$medium - 1 + px}) {
		display: none;
	}
}

//burger-menu
