$large: 1280;
$medium: 768;
$small: 320;

//colors
$title-color: #545454;
$light-title-color: #ffffff;
$logo-title-color: #f1cdb3;
$footer-title-color: #f1cdb3;
$button-title-color: #292929;
$active-title-color: #292929;

$subtitle-color: #4C4C4C;
$light-subtitle-color: #CDCDCD;
$light-subtitle-hover-color: #ffffff;
$logo-subtitle-color: #ffffff;
$light-active-subtitle-color: #FAFAFA;
$subtitle-s-color: #B2B2B2;

$active-color: #f1cdb3;
$button-bg: #F1CDB3;
$hover-button-bg: #FDDCC4;
$active-button-bg: #F1CDB3;
$nonactive-button-bg: #CDCDCD;

$pets-section-bg: #F6F6F6;
$pets-card-bg: #FAFAFA;
$pets-card-hover-bg: #ffffff;

$help-icon-color: #F1CDB3;

$donation-section-color: #F6F6F6;

$footer-icon-color: #F1CDB3;