.pets-section {
	background-color: $pets-section-bg;
}
.pets-container {
	padding: 80px 40px 100px 40px;

	@media (max-width: #{$large - 1 + px}) {
		@include adaptive-value("padding-bottom", 100, 76, $large, $medium);	
		@include adaptive-value("padding-left", 40, 30, $large, $medium);
		@include adaptive-value("padding-right", 40, 30, $large, $medium);
	}

	@media (max-width: #{$medium - 1 + px}) {
		@include adaptive-value("padding-top", 80, 42, $medium, $small);
		@include adaptive-value("padding-bottom", 70, 42, $medium, $small);

		@include adaptive-value("padding-left", 30, 10, $medium, $small);
		@include adaptive-value("padding-right", 30, 10, $medium, $small);
	}
}

.pets {
	@include flex(space-between, center, column);
	row-gap: 60px;

	&__title {	
		text-align: center;	
	}

	@media (max-width: #{$large - 1 + px}) {		
		@include adaptive-value("row-gap", 60, 30, $large, $medium);

	}

	@media (max-width: #{$medium - 1 + px}) {		
		@include adaptive-value("row-gap", 30, 42, $medium, $small);			
	}
}

.pets-slider {
	@include flex(space-between, center);	
	width: 100%;	

	&__list {
		@include flex(center, center);
		gap: 30px 40px;
		flex-wrap: wrap;
		width: 100%;
	}

	@media (max-width: #{$large - 1 + px}) {
		&__list {		
			.pets-card:nth-child(n+7) {
				display: none;
			}
		}		
	}

	@media (max-width: #{$medium - 1 + px}) {		
		&__list {
			.pets-card:nth-child(n+4) {
				display: none;
			}
		}	
	}
}

.pets-card {
	&__link {
		@include flex(space-between, center, column);
		row-gap: 30px;
		min-height: 435px;
		padding-bottom: 30px;
		
		cursor: pointer;
		border-radius: 9px;
		background-color: $pets-card-bg;
		transition: all 0.5s linear;
		text-decoration: none;

		&:hover {
			background-color: $pets-card-hover-bg;
			box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
	
			> .pets-card__button {
				border: 2px solid $active-button-bg;
				background-color: $active-button-bg;
			}
		}
	}	
}

.pets-pagination {
	@media (max-width: #{$large - 1 + px}) {
		padding-top: 10px;
	}

	@media (max-width: #{$medium - 1 + px}) {	
		padding-top: 0;
	}
}