html {
	scroll-behavior: smooth;	
}

body {
	min-height: 100vh;    
	line-height: 1.5;
	padding: 0;
	text-rendering: optimizeSpeed;  		
}

.container {
	max-width: 1280px;
	margin: 0 auto;	
	padding: 60px 40px;

	@media (max-width: #{$large - 1 + px}) {
		@include adaptive-value("padding-top", 60, 30, $large, $medium);
		@include adaptive-value("padding-left", 40, 30, $large, $medium);
		@include adaptive-value("padding-right", 40, 30, $large, $medium);
	}
}