html {
	scroll-behavior: smooth;		
}

body {
	min-height: 100vh;  	
	padding: 0;
	line-height: 1.5;
	text-rendering: optimizeSpeed;  	
}

.container {
	max-width: 1280px;
	margin: 0 auto;	
	padding: 60px 40px;	

	@media (max-width: #{$large - 1 + px}) {
		@include adaptive-value("padding-top", 60, 30, $large, $medium);
		@include adaptive-value("padding-left", 40, 30, $large, $medium);
		@include adaptive-value("padding-right", 40, 30, $large, $medium);
	}

	@media (max-width: #{$medium - 1 + px}) {
		padding-top: 30px;
		@include adaptive-value("padding-left", 30, 10, $medium, $small);
		@include adaptive-value("padding-right", 30, 10, $medium, $small);
	}
}