@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: Arial;
  src: url("../../../../assets/fonts/arial.ttf");
}

@font-face {
  font-family: Georgia;
  src: url("../../../../assets//fonts//georgia.ttf");
}

.title {
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

@media (max-width: 767px) {
  .title {
    text-align: center;
    font-size: calc(25px + 10 * ((100vw - 320px) / 448));
  }
}

.button-title {
  font-size: 17px;
  text-decoration: none;
}

h2.title {
  font-size: 44px;
  letter-spacing: normal;
}

@media (max-width: 767px) {
  h2.title {
    font-size: calc(25px + 19 * ((100vw - 320px) / 448));
  }
}

h4.title {
  font-size: 20px;
  line-height: 115%;
}

h5.title {
  font-size: 15px;
  line-height: 110%;
}

.title_light {
  color: #ffffff;
}

.subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.subtitle-s {
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
  color: #B2B2B2;
}

.subtitle_light {
  color: #CDCDCD;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  padding: 0;
  text-rendering: optimizeSpeed;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 40px;
}

@media (max-width: 1279px) {
  .container {
    padding-top: calc(30px + 30 * ((100vw - 768px) / 512));
    padding-left: calc(30px + 10 * ((100vw - 768px) / 512));
    padding-right: calc(30px + 10 * ((100vw - 768px) / 512));
  }
}

@media (max-width: 767px) {
  .container {
    padding-top: 30px;
    padding-left: calc(10px + 20 * ((100vw - 320px) / 448));
    padding-right: calc(10px + 20 * ((100vw - 320px) / 448));
  }
}

.button {
  padding: 15px 45px;
  border: none;
  border-radius: 100px;
  color: #292929;
  background-color: #F1CDB3;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #FDDCC4;
}

.button-not-fill {
  padding: 13px 43px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
  cursor: pointer;
  text-decoration: none;
}

.button-not-fill:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.round-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 24px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  text-decoration: none;
}

.round-button:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.round-button:active {
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
}

@media (max-width: 767px) {
  .header-container {
    padding-right: calc(53px + -23 * ((100vw - 320px) / 448));
  }
}

.header {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60px;
  cursor: pointer;
  text-decoration: none;
}

.logo__title {
  font-size: 32px;
  line-height: 110%;
  color: #f1cdb3;
}

.logo__subtitle {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.logo:hover .logo__title {
  color: #FDDCC4;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  list-style: none;
}

.nav-list__link {
  color: #CDCDCD;
  text-decoration: none;
}

.nav-list__link:hover {
  color: #ffffff;
}

.nav-list__item {
  position: relative;
  cursor: pointer;
}

.nav-list__item_active {
  border-bottom: 3px solid #f1cdb3;
}

.nav-list__item_active .nav-list__link {
  color: #FAFAFA;
}

@media (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.start-screen-section {
  padding-top: 180px;
  background: url("../../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-repeat: repeat;
}

@media (max-width: 1279px) {
  .start-screen-section {
    padding-top: calc(150px + 30 * ((100vw - 768px) / 512));
  }
}

@media (max-width: 767px) {
  .start-screen-section {
    padding-top: 150px;
  }
}

.start-screen-container {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 1279px) {
  .start-screen-container {
    padding-left: calc(100px + 202 * ((100vw - 768px) / 512));
    padding-right: calc(100px + 202 * ((100vw - 768px) / 512));
  }
}

@media (max-width: 767px) {
  .start-screen-container {
    padding-left: calc(10px + 90 * ((100vw - 320px) / 448));
    padding-right: calc(10px + 90 * ((100vw - 320px) / 448));
  }
}

.start-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 42px;
          column-gap: 42px;
}

.start-screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 42px;
  padding-top: 163px;
}

.start-screen__img {
  position: relative;
  max-width: none;
}

@media (max-width: 1279px) {
  .start-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 100px;
  }
  .start-screen__content {
    padding-top: 0;
    padding-left: calc(54px + 54 * ((100vw - 768px) / 512));
    padding-right: calc(54px + 54 * ((100vw - 768px) / 512));
  }
  .start-screen__content .button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .start-screen__img {
    left: calc(70px + 210 * ((100vw - 768px) / 512));
  }
}

@media (max-width: 767px) {
  .start-screen {
    row-gap: 105px;
    text-align: center;
  }
  .start-screen__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: calc(0px + 54 * ((100vw - 320px) / 448));
    padding-right: calc(0px + 54 * ((100vw - 320px) / 448));
  }
  .start-screen__img {
    left: calc(40px + 240 * ((100vw - 320px) / 448));
  }
}

.about-container {
  padding: 80px 40px 100px 40px;
}

@media (max-width: 1279px) {
  .about-container {
    padding-left: calc(165px + -125 * ((100vw - 1180px) / 100));
    padding-right: calc(165px + -125 * ((100vw - 1180px) / 100));
  }
}

@media (max-width: 1179px) {
  .about-container {
    padding-left: 165px;
    padding-right: 165px;
  }
}

@media (max-width: 767px) {
  .about-container {
    padding-top: calc(42px + 38 * ((100vw - 320px) / 448));
    padding-bottom: calc(42px + 38 * ((100vw - 320px) / 448));
    padding-left: calc(10px + 155 * ((100vw - 320px) / 448));
    padding-right: calc(10px + 155 * ((100vw - 320px) / 448));
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  padding: 0 175px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}

@media (max-width: 1279px) {
  .about {
    padding-left: calc(0px + 175 * ((100vw - 1180px) / 100));
    padding-right: calc(0px + 175 * ((100vw - 1180px) / 100));
  }
}

@media (max-width: 1179px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 80px;
    padding-left: calc(0px + 206 * ((100vw - 768px) / 412));
    padding-right: calc(0px + 206 * ((100vw - 768px) / 412));
  }
  .about__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .about {
    text-align: justify;
    row-gap: calc(42px + 38 * ((100vw - 320px) / 448));
    padding-left: calc(15px + -15 * ((100vw - 320px) / 448));
    padding-right: calc(15px + -15 * ((100vw - 320px) / 448));
  }
  .about__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 22px;
  }
  .about__title {
    padding-bottom: 3px;
  }
  .about__img {
    width: calc(260px + 40 * ((100vw - 320px) / 448));
  }
}

.pets-section {
  background-color: #F6F6F6;
}

.pets-container {
  padding: 80px 40px 100px 40px;
}

@media (max-width: 1279px) {
  .pets-container {
    padding-left: calc(30px + 10 * ((100vw - 768px) / 512));
    padding-right: calc(30px + 10 * ((100vw - 768px) / 512));
  }
}

@media (max-width: 767px) {
  .pets-container {
    padding-top: calc(42px + 38 * ((100vw - 320px) / 448));
    padding-bottom: calc(42px + 38 * ((100vw - 320px) / 448));
    padding-left: calc(10px + 174 * ((100vw - 320px) / 448));
    padding-right: calc(10px + 174 * ((100vw - 320px) / 448));
  }
}

.pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
}

.pets__title {
  text-align: center;
}

@media (max-width: 767px) {
  .pets {
    row-gap: calc(42px + 18 * ((100vw - 320px) / 448));
  }
}

.pets-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.pets-slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media (max-width: 1080px) {
  .pets-slider__list .pets-card:nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 767px) {
  .pets-slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px 80px;
  }
  .pets-slider__list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .pets-slider__list .pets-card:nth-of-type(2) {
    display: none;
  }
}

.left-arrow {
  background-image: url("../../../assets/icons/left-arrow.svg");
}

@media (max-width: 767px) {
  .left-arrow {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.right-arrow {
  background-image: url("../../../assets/icons/right-arrow.svg");
}

@media (max-width: 767px) {
  .right-arrow {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.pets-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  min-height: 435px;
  padding-bottom: 30px;
  cursor: pointer;
  border-radius: 9px;
  background-color: #FAFAFA;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  text-decoration: none;
}

.pets-card__link:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-card__link:hover > .pets-card__button {
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
}

.help-container {
  padding: 80px 40px 100px 40px;
}

@media (max-width: 1279px) {
  .help-container {
    padding-left: calc(69px + -29 * ((100vw - 768px) / 512));
    padding-right: calc(69px + -29 * ((100vw - 768px) / 512));
  }
}

@media (max-width: 767px) {
  .help-container {
    padding-top: calc(42px + 38 * ((100vw - 320px) / 448));
    padding-bottom: calc(42px + 38 * ((100vw - 320px) / 448));
    padding-left: calc(15px + 54 * ((100vw - 320px) / 448));
    padding-right: calc(15px + 54 * ((100vw - 320px) / 448));
  }
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
}

.help__title {
  text-align: center;
}

@media (max-width: 767px) {
  .help {
    row-gap: calc(42px + 18 * ((100vw - 320px) / 448));
  }
}

.help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 55px 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 87px;
}

.help-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

@media (max-width: 1279px) {
  .help-list {
    -webkit-column-gap: calc(60px + 60 * ((100vw - 768px) / 512));
            column-gap: calc(60px + 60 * ((100vw - 768px) / 512));
    padding-left: calc(0px + 87 * ((100vw - 768px) / 512));
    padding-right: calc(0px + 87 * ((100vw - 768px) / 512));
  }
  .help-list__item {
    width: 170px;
  }
}

@media (max-width: 767px) {
  .help-list {
    -webkit-column-gap: calc(30px + 25 * ((100vw - 320px) / 448));
            column-gap: calc(30px + 25 * ((100vw - 320px) / 448));
    row-gap: calc(30px + 25 * ((100vw - 320px) / 448));
    padding: 0;
  }
  .help-list__item {
    width: 130px;
  }
  .help-list__item h4.help-icon__title {
    font-size: calc(15px + 5 * ((100vw - 320px) / 448));
  }
}

@media (max-width: 320px) {
  .help-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.help-icon {
  width: 60px;
  height: 60px;
  fill: #F1CDB3;
}

.donation-section {
  background-color: #F6F6F6;
}

.donation-container {
  padding: 80px 183px 100px;
}

.donation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.donation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.donation-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 23px;
  padding: 10px 15px;
  border-radius: 9px;
}

.donation-card__link {
  text-decoration: none;
}

.donation-card__number {
  text-align: center;
}

.donation-card__icon {
  width: 45px;
  height: 23px;
  padding-right: 15px;
  background-image: url("../../../assets/icons/credit-card.svg");
  background-repeat: no-repeat;
}

.footer {
  background: url("../../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-repeat: repeat;
}

.footer-container {
  padding: 40px 40px 0px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 160px;
          column-gap: 160px;
}

.footer-content a {
  text-decoration: none;
}

.footer-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  row-gap: 40px;
  margin-top: 16px;
}

.contacts__email, .contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  cursor: pointer;
}

.email-icon {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/icons/icon-email.svg");
}

.tel-icon {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/icons/icon-phone.svg");
}

.location {
  row-gap: unset;
  min-height: 234px;
}

.location__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  cursor: pointer;
  text-decoration: none;
}

.location-icon {
  width: 22px;
  height: 32px;
  background-image: url("../../../assets/icons/icon-marker.svg");
}

.email-icon, .tel-icon, .location-icon {
  background-repeat: no-repeat;
}

.email-link, .tel-link, .location-address {
  color: #f1cdb3;
}
/*# sourceMappingURL=main.css.map */